nav{
    background-color: #274059;
    display: flex;
    justify-content: space-between;
    padding: 1em 7em;
    align-items: center;
    
   
}


body{
  background-color: #EFF1F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navlogo{
    display: flex;
    gap: 5px;
    align-items: center;


  img{
    max-width: 100%;
    width: 80px;
    
  }


  span{
    color: white;
    font-size: xx-large;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
  }
}

.nav2{

ul{
    display: flex;
    gap: 20px;
    list-style: none;

li{
    a{
        text-decoration: none;
        color: white;
        font-size: x-large;
        transition: 100ms all ease-in;

    }
}

}

}


a:hover{
  opacity: 70%;
}



main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 7em;
  padding-left: 7em;
  padding-right: 7em;
  height: 90vh;
    width: 100%;


  
}

.box{
  grid-column: span 2;
  background-color: white;
  height: 30em;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
span{
    font-size: 20px;
    padding: 10px 50px;
    font-family: "Inter", sans-serif;
   
}
  
}

.img{
  grid-column: span 1;

img{
   height: 30em;
   border-radius: 30px;
   width: auto;
   
}

}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #274059;
gap: 1em;

}

.footerimg{
  padding-top: 2em;
  img{
    max-width: 100%;
    width: 50px;
  }
}

.footerul{
padding-bottom: 2em;

  ul{
    list-style: none;
    
    li{
      text-align: center;
      padding: 10px;
      a{
        text-decoration: none;
        color: white;
        font-family: "Inter", sans-serif;
        text-align: center;
        
      }
    }
  }
}









@media (max-width: 600px){
nav{
  
   
    padding: 1em 1em;
    
    
   
}

.navlogo{
    display: flex;
    gap: 5px;
    align-items: center;


  img{
    max-width: 100%;
    width: 50px;
    
  }


  span{
    color: white;
    font-size: large;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
  }
}

.nav2{

ul{
    
    gap: 10px;
   

li{
    a{
        
        
        font-size: medium;
       

    }
}

}

}








main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-left: 1em;
  padding-right: 1em;
  height: 100vh;
    width: 100%;


  
}






.box{
  
 
  height: 25em;
  width: 17em;
  
  gap: 1em;
  h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
span{
    font-size: 15px;
    padding: 10px 50px;
    font-family: "Inter", sans-serif;
   
}
  
}

.img{
  

img{
   height: 20em;
   
   width: auto;
   
}

}


}





@media (min-width: 601px) and (max-width: 1024px) {
 nav{
    padding: 1em 2em;
}
main{
  
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;

  
}

}